body {
    background-color: #dbcba8;
}

a {
    margin: 1vh;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h4 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #0064ff;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #007bff;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.5s;
}

.twitter {
    color: #1da1f2;
}

.google {
    color: #cb3636;
}

.google:hover {
    color: #ff0000;
}

.linkedin {
    color: #0073b1;
}

.container {
    padding-top: 10px;
}
