body {
  background-color: #dbcba8;
  color: inherit;
}

a {
  margin: 1vh;
}

p, h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

h2, h3 {
  background-color: inherit;
  color: #0064ff;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.5s;
}

.twitter {
  background-color: inherit;
  color: #1da1f2;
}

.google {
  background-color: inherit;
  color: #cb3636;
}

.google:hover {
  background-color: inherit;
  color: #ff0000;
}

.linkedin {
  background-color: inherit;
  color: #0073b1;
}

.container {
  padding-top: 10px;
}

.github {
  background-color: inherit;
  color: #000;
}
